
<div class="section-apoio-component">


    <app-titulo icone="ion-ios-star-outline" titulo="Patrocina y Organiza"></app-titulo>


    <div class="area">
        <a href="https://www.globant.com/" target="_blank" title="Globant"><img src="/assets/img/globant-logo.png" alt="Globant"></a>
    </div>


    <app-titulo icone="ion-ios-people-outline" titulo="Comunidades participantes"></app-titulo>

    <div class="area">
        <a href="https://github.com/angular-medellin/ngcolombia-2017" target="_blank" title="Globant"><img src="/assets/img/angular_medellin.png" alt="Angular Medellín"></a>
        <a href="https://www.meetup.com/es-ES/GDG-Medellin/" target="_blank" title="Google Developers Groups"><img src="/assets/img/gdg-logo2.png" alt="GDG Medellin"></a>
        <a href="http://pionerasdev.co/" target="_blank" title="Globant"><img src="/assets/img/pioneras-logo.png" alt="Pioneras"></a>
    </div>

    <app-titulo icone="ion-beer" titulo="JS-Heroes"></app-titulo>

    <div class="area">
        <img class="foto" src="/assets/img/sebastian.jpg" alt="">
        <img class="foto" src="/assets/img/carlos.jpg" alt="">
        <img class="foto" src="/assets/img/Juanita.jpg" alt="">
        <img class="foto" src="/assets/img/andres.jpg" alt="">
        <img class="foto" src="/assets/img/oscarGranados.png" alt="">
        <img class="foto" src="/assets/img/diego.png" alt="">
        <img class="foto" src="/assets/img/anaSosa.png" alt="">
    </div>


</div>
