@import '../../../scss/imports';

.section-apoio-component {
    padding: 1.5em 0;

    .area {
        @extend %flex-center-center;
        @include justify-content(center);
        @include flex-wrap(wrap);
        width: 65%;
        max-width: 700px;
        margin: 0 auto 3em;

        img {
            max-height: 150px;
        }

        .foto {
            width: em(150);
            height: em(150);
            border-radius: 50%;
            margin: 5px;
            border: 0.5px #333333 solid;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }

            &:hover {
                .vol-desc {
                    visibility: visible;
                    bottom: 0;
                }
            }
        }

        .vol-desc {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 100%;
            right: 0;
            text-align: center;
            color: white;
            background-color: rgba(1,1,1,0.5);
            transition: all 0.1s ease-in-out;
        }
    }

    .emphasis {
        background-color: $super-light-grey;
        padding-bottom: 1px;
    }
}

@media screen and (max-width: 420px) {
    .section-apoio-component {
        .area {
            @include flex-dir(column);
            img {
                margin-bottom: 4em;
                width: 100%;
            }
        }
    }
}
