<div class="section-apoio-component">
    <div class="section-wrapper bg-gray">
        <div class="section-title">
            <img
                src="../../../assets/img/ic-title-sponsored.svg"
                alt="Icono de un estrella"
                class="section-title__icon"
            />
            <h3 class="section-title__text" appLocalize>
                Patrocina y organiza
            </h3>
        </div>
        <div class="section-content">
            <div>
                <a
                    class="globant-logo"
                    href="https://www.globant.com/"
                    target="_blank"
                    title="Globant"
                    ><img src="/assets/img/globant-logo.png" alt="Globant"
                /></a>
            </div>
        </div>
    </div>
    <div class="section-wrapper">
        <div class="section-title">
            <img
                src="../../../assets/img/ic-title-communities.svg"
                alt="Icono de un un grupo de personas"
                class="section-title__icon"
            />
            <h3 class="section-title__text" appLocalize>
                Comunidades Participantes
            </h3>
        </div>
        <div class="section-content">
            <div class="jw-communities">
                <a
                    href="https://www.meetup.com/PionerasDevelopers"
                    target="_blank"
                    title="Pioneras"
                >
                    <img
                        class="sponsorImg"
                        src="/assets/img/pioneras-logo.png"
                        alt="Pioneras logo"
                    />
                </a>
                <a
                    href="https://www.meetup.com/es-ES/Brodevhood-Medellin/"
                    target="_blank"
                    title="Brodevhood"
                >
                    <img
                        class="sponsorImg"
                        src="/assets/img/brodevhood.jpg"
                        alt="Brodevhood"
                    />
                </a>
                <a href="https://medellinjs.org/" target="_blank" title="MedJS">
                    <img
                        class="sponsorImg"
                        src="/assets/img/MedJS.png"
                        alt="MedJS"
                    />
                </a>
                <a
                    href="https://www.meetup.com/es-ES/node_co/"
                    target="_blank"
                    title="NodeCO"
                >
                    <img
                        class="sponsorImg"
                        src="/assets/img/nodeco.jpg"
                        alt="NodeCO"
                    />
                </a>
            </div>
        </div>
    </div>
    <div class="section-wrapper">
        <div class="section-title">
            <img
                src="../../../assets/img/ic-title-heros.svg"
                alt="Icono de cohetes"
                class="section-title__icon"
            />
            <h3 class="section-title__text" appLocalize>Voluntarios</h3>
        </div>
        <div class="section-content">
            <div class="jw-volunteers">
                <picture class="jw-volunteer" *ngFor="let vol of voluntarios">
                    <img
                        class="jw-volunteer__photo"
                        src="{{ vol.picture }}"
                        alt="Foto de {{ vol.name }}"
                    />
                    <span class="jw-volunteer__name">
                        {{ vol.name }}
                    </span>
                </picture>
            </div>
        </div>
    </div>
</div>
