<div class="section-apoio-component" (mouseenter)="setSection()">

    <app-titulo icone="ion-ios-star-outline" titulo="Apoyo & Patrocínio"></app-titulo>

    <div class="area">
        <a href="https://developers.google.com/groups" target="_blank" title="Google Developers Groups"><img src="/assets/img/gdg-logo.png" alt="GDG Brasil"></a>
        <a href="https://www.globant.com/" target="_blank" title="Globant"><img src="/assets/img/globant-logo.png" alt="Globant"></a>
        <a href="http://pionerasdev.co/" target="_blank" title="Globant"><img src="/assets/img/pioneras-logo.png" alt="Pioneras"></a>
    </div>

</div>
