@import '../../../scss/imports';

.section-topo-component {
    position: relative;
    height: 77vh;
    .bg-topo {
        height: 77vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        background-image:
                    linear-gradient(rgba(63, 66, 90, 0.85),  rgba(63, 66, 90, 0.85)),
                    url(/assets/img/back-topo.png);
        background-size: cover;
        background-repeat: no-repeat;

        .logo {
            width: 50%;
            margin-top: em(25);
            img {
                width: 100%;
            }
        }

        .hero {
            text-align: center;
            width: 60%;
        }

        .when {
            font-size: em(36);
            color: white;
            text-align: center;
            margin: em(40, 36) 0;
            &-range, &-month {
                display: inline-block;
                min-width: 100%;
            }
        }

        .register {
            background-color: #90C53F;
            font-size: 24px;
            padding: 10px 50px;
            margin-bottom: 15px;
            border-radius: 5px;
            a {
                color: white;
            }

            @media screen and (min-width: 800px) {
                width: 200px;
                font-size: 36px;
                padding: 10px 30px;
                border-radius: 5px;
            }

        }

        .conduct {
            color: #90c53f;
            font-size: 18px;
            text-decoration: underline;

            @media screen and (min-width: 800px) {
                font-size: 24px;
            }
        }

        @media screen and (min-width: 767px) {
            flex-direction: row;
            justify-content: center;
            .logo {
                width: 45%;
            }
            .hero {
                width: 30%;
            }
        }

        @media screen and (min-width: 767px) {
            height: 80vh;
            justify-content: space-evenly;
            .logo {
                width: 25%;
            }
            .register {
                display: inline-block;
                width: em(268, 36);
                height: em(75, 36);
            }
            .conduct {
                display: block;
            }
            .when {
                font-size: 60px;
            }
        }
    }
    @media screen and (min-width: 767px) {
        height: 80vh;
    }
}
