<div class="section-top-component">
  <div class="main-bar"></div>

  <div class="main-top">
    <div class="main-subject">
      <img class="main-subject-img" src="../../../assets/img/nodejs-logo.png" />
    </div>
    <div class="main-details">
      <div class="main-details-date-container">
        <h3 class="main-details-date">
          <span class="date-range"><b>12</b> al <b>16</b></span>
          <span class="date-month">de Agosto</span>
        </h3>
      </div>
      <div class="main-details-bottom">
        <div class="main-details-register">
          <div class="main-details-register-button">
            <a href="https://www.eventbrite.com/e/64971669011/" target="_blank">Registro</a>
          </div>
        </div>
        <div class="main-details-conduct">
          <a class="conduct-link" href="http://jsconf.com/codeofconduct.html" target="_blank">Código de conducta</a>
        </div>
      </div>
    </div>
  </div>

</div>
