<div class="section-mapa-component" [style.background-image]="trust('../../../assets/img/mapa.jpg')" (mouseenter)="setSection()">

    <div class="area row">
        <div class="box">

            <h4>
                <i class="icon ion-ios-location-outline"></i>
                Faculdade Maurício de Nassau
            </h4>

            <p>
                Estrada do Coco, S/N, KM 4,5<br>
                Centro, Lauro de Freitas - BA<br>
                42700-000
            </p>

            <p>
                <i class="icon ion-android-call"></i> <span>3505-4500</span>
            </p>

        </div>
        <div class="vazio"></div>
    </div>

</div>
