@import '../../../scss/imports';

.section-mapa-component {
    @extend %cover;
    @extend %flex-center-center;
    //background-image: url(./../../../assets/img/mapa.jpg);
    height: 65vh;

    .area {
        width: 95%;
        max-width: 85%;

        .box {
            width: 40%;
            padding: 2.5em;
            background-color: rgba(255, 255, 255, .8);

            h4 {
                @extend %flex-center-left;
                //margin: 0 0 1em;
                font: {
                    size: 1.7em;
                    weight: 400;
                }

                i {
                    color: $verde;
                    font-size: 1.3em;
                    margin-right: .3em;
                }
            }

            p {
                @extend %flex-center-left;
                font: {
                    size: 1.5em;
                    weight: 300;
                }
                color: #666;
                margin: 1em 0 0;

                i {
                    margin-right: .3em;
                }
            }
        }

        .vazio {
            width: 60%;
        }
    }
}

@media screen and (max-width: 1288px) {
    .section-mapa-component {
        .area {
            .box, .vazio {
                width: 50%;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .section-mapa-component {
        height: 45vh;

        .area {
            .box {
                width: 60%;
            }
            .vazio {
                width: 40%;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .section-mapa-component {
        .area {
            .box {
                font-size: .8em;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .section-mapa-component {
        height: 40vh;

        .area {
            .box {
                font-size: .6em;
            }
        }
    }
}

