<div class="guests-container">

  <div class="guests-icon">
    <img class="guests-img" src="/assets/img/special-guests/micro.svg" />
    <label class="guests-label">special guests</label>
  </div>

  <div class="guest-person-info">
    <div class="person-arrow-container">
      <img class="person-arrow person-left-arrow" src="/assets/img/special-guests/left-arrow.svg" />
    </div>
    <div class="person-avatar-container">
      <img class="person-avatar" src="/assets/img/special-guests/micro.svg" />
    </div>
    <div class="person-info-container">
      <section class="person-info">
          How to implement Node JS projects in the real world
      </section>
    </div>
    <div class="person-arrow-container">
      <img class="person-arrow person-right-arrow" src="/assets/img/special-guests/right-arrow.svg" />
    </div>
  </div>

  <div class="guest-carousel-info">
    <div class="carousel-wrapper">
      <div class="carousel-item carousel-active"></div>
      <div class="carousel-item"></div>
      <div class="carousel-item"></div>
      <div class="carousel-item"></div>
    </div>
  </div>
</div>
